#parent{
	background-color: yellow;
    height: 300px;
    width: 500px;
    float: right;
}
#child1{
	background-color: blue;
	height: 100px;
    width: 100px;
    float: left;

}
#child2{
	background-color: red;
	height: 100px;
    width: 150px;
    float: right;

}